header{
    background-color: green;
    width: 100%;
    text-align: left;
}
header a{
    text-align: center;
}
#estrelles{
    margin-left: 150px;
    margin-top: 20px;
}
nav{
    text-align: right;
    font-size: 50px;
    margin-right: 250px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: right;
    gap: 60px;
    display: flex;
}
a{
   color: white;
   text-decoration: none;
}
body{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    background-color: green;
}
#bodyfake{
    background-color: green;
    background:  url(img/casa_encantada.jpg) no-repeat;
    border-bottom: 5px solid gray;
    border-top: 5px solid gray;
    background-size: cover;
    height: 800px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-left: 50px;
    color: red;
    font-size: 50px;
}
h2{
    margin-left: 50px;
    color: red;
    font-size: 40px;

}
footer{
    background-color: green;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a{
    text-decoration: dotted underline;
}
footer img{
    text-decoration: dotted underline;
}
caption, td, th{
    padding: 0.3em;
}